<!DOCTYPE html>

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Add a Page to {{ category.name }}</h1>
        <div>
            <form id="page_form" method="post" action="/rango/add_page/">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="submit" value="Add Page" />
            </form>
            <a href="{% url 'rango:show_category' category.slug %}">Back to {{ category.name }} Category</a>
        </div>
    </body>
</html>